# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.firebase
mobile-app/dist-test
mobile-app/credentials.json
mobile-app/android/.gradle
mobile-app/android/app/build
mobile-app/android/build
mobile-app/android/app/.cxx
*.local
.env
.env.*
!*.env.example
backend/*.json
backend/.env
backend/__pycache__/
*.pyc
firestore-debug.log
firebase-debug.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
